

GliaNovo/GliaNovo.xcodeproj/project.xcworkspace/xcuserdata/glaubermoreira.xcuserdatad/UserInterfaceState.xcuserstate

GliaNovo/GliaNovo.xcodeproj/project.xcworkspace/xcuserdata/juhstephan.xcuserdatad/UserInterfaceState.xcuserstate
GliaNovo/.DS_Store
.DS_Store

